/*  Navigation Bar  */


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}



h1{
  font-size: 70px;
  color: #3747b3;
  font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
  margin-bottom: 0px;
}











*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: gray;
  padding: 0;
}

.container{
  max-width: 100%;
  margin: auto;
  background: #f2f2f2;
  overflow: auto;
}

.gallery{
  margin: 5px;
  border: 1px;
  float: left;
  width: 390px;
}

.gallery img{
  width: 100%;
  height: auto;
  border: 5px solid #555;
}

.desc{
  padding: 15px;
  text-align: center;

}

.glowbutton{
  position: absolute;
  /*top: 10%; */
  bottom: -70%;
  left: 60%;

  transform: translate(-50% , -50%);
}

.button{
  /*position: relative;*/
  text-align: center;
  width: 250px;
  padding: 10px;
  font-size: 25px;
  color: #15f4ee;
  font-family: poppins;
  font-weight: 400;
  border: 5px solid #15f4ee;
  text-transform: uppercase;
  letter-spacing: 10px;
  cursor: pointer;
  border-radius: 100px;
  transition: 1.5s;
  background-color: black;
  max-width: 100%;

}

.button:hover{
  box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
              0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
  text-shadow: 0 0 5px #15f4ee,0 0 5px #15f4ee;
}




footer {
    background-color: #F4D19B;
    display: grid;
    grid-template-columns: auto auto auto;
}
footer p{
    font-family: "Courier", monospace;
    font-size: 90%;
}
